<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>File Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.svg" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="header">HEADER_LINK</div>
    <table>
      <tr>
        <th style="width: 33%">Name</th>
        <th style="width: 33%">Last Modefied</th>
        <th>Size</th>
      </tr>
      TABLE_ROW
    </table>
  </body>
  <script>
    let footer = document.createElement("footer");
    footer.innerHTML = `<footer">&copy; Copyright ${new Date().getFullYear()} MR-Addict</footer>`;
    document.body.appendChild(footer);
  </script>
</html>
